<div id="menu" class="banner menu-item">
  <div class="follow_container">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="top-title"><%= @menu_item.name %></h2>
    </div>
  </div>
</div>
<section id="section-menu-item-detail">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Menu', menu_items_path %></li>
      <li class="active"><%= @menu_item.name %></li>
    </ol>
    <h2 class="menu-name"><%= @menu_item.name %></h2>
    <div class="row">
      <div class="col-sm-5"><%= image_tag(@menu_item.img_url, alt: @menu_item.name, class: 'img-responsive') %></div>
      <div class="col-sm-7">
        <p class="desc-text"><%= @menu_item.description %></p>
        <p class="menu-price">Price: <span><%= @menu_item.price %> VND</span></p>
        <button type="button" class="btn btn-danger btn-lg btn-order" data-id="<%= @menu_item.id %>">Add to Order</button>
        <%= link_to 'Back to menu', menu_items_path, :class => 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
</section>