<div id="order" class="banner">
	<div class="follow_container">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="top-title">Your order</h2>
		</div>
	</div>
</div>
<section id="order">
	<div class="container">
		<h1 class="text-success">Thanks you</h1>
		<h3>Your order detail at <%= @new_order.created_at.strftime("%Y, %B-%d %H:%M:%S")%></h3>
		<address>
		  <strong><%= @new_order.name%></strong><br>
		  <%= @new_order.address%><br>
		  <abbr title="Phone">P:</abbr> <%= @new_order.phone%>
		</address>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Food Item</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			<% @total = 0%>
			<% @index = 1%>
			<% @order_items.each do |order_item| %>
				<tr>
					<th scope="row"><%= @index %></th>
					<td><%= order_item.name %></td>
					<td><%= @detail.count(order_item.id.to_s) %></td>
					<td><%= order_item.price %></td>
					<td>
						<%= order_item.price * @detail.count(order_item.id.to_s) %>
						<% @total += order_item.price * @detail.count(order_item.id.to_s)%>
						<% @index+= 1 %>
					</td>
				</tr>
			<% end %>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4">Delivery Fee</th>
					<th>20000</th>
				</tr>
				<tr>
					<th colspan="4">Sub Total</th>
					<th><%= @total+=20000 %></th>
				</tr>
			</tfoot>
		</table>
	</div>
</section>