<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="body" class="<%= params[:controller] %>">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="main-menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Restaurant</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'CONTACT US', root_path %></li>
              <li><%= link_to 'MENU', menu_items_path %></li>
              <li><%= link_to 'ORDER (' + session[:order].count.to_s + ')', order_create_path, :id => 'order-menu' %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
	<%= yield %>
	<footer>
		<div class="container">
			<div class="col-sm-6">
				<p class="sub-footer-text text-center">Minh Tran 2016, Theme by <a href="https://themewagon.com/">ThemeWagon</a></p>
			</div>
			<div class="col-sm-6 text-right">
				<p class="sub-footer-text">Use it for my assignment</p>
			</div>
		</div>
	</footer>
</body>
</html>
